/*------------------------------------------------------

CSS overview: 

	1. RESET
	2. MAIN CONTENT
	3. PRIMARY MENU 
	4. SECTION TITLE
	5. FOOTER


	8. COLUMNS
	9. TEAM
	10. GRID VIEW
	11. BUTTONS
	12. HIGHLIGHTS
	13. DROPCAPS
	14. DIFFERENT UL STYLES
	15. TOGGLE
	16. ACCORDION
	17. PORTFOLIO
	18. PORTFOLIO THUMBNAIL HOVER
	19. SHAPED STYLE ITEM
	20. HEXAGON STYLE
	21. CIRCLE STYLE
	22. TRIANGLE STYLE
	23. PORTFOLIO FILTERABLE NAVIGATION
	24. ITEM NAVIGATION
	25. CONTACT MODAL WINDOW
	26. CONTACT
	
---------------------------------------------------------*/

/*--------------------------------------------------
				      RESET
---------------------------------------------------*/
pre,code{
	font-family:"Times New Roman", Times, serif;
	white-space:pre;
	padding:20px;
	letter-spacing: 0.1em;
}
pre{
	padding:5px;
}
code{
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	font-size:11px;
	color: #666666;
	padding: 3px;
	padding-left: 10px;
	background-color: #f8f8f8;
}
.clear:after {
    clear: both;
    content: "";
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin:0px; 
	padding:0px; 
	border:0px; 
	border-collapse:separate; 
	border-spacing:0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-decoration:none;
}
html, body {
	height: 100%;
	width: 100%;
	margin:0px;
}
::-moz-selection{ color: #fff; background: #555555; }
::selection { color: #fff; background: #555555; }
body {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #676767;
	background: repeat 0 0 #f8f8f8;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 15px;
	font-weight: normal;
	clear:both;
}
h1{
	font-size:42px;
	line-height: 44px;
}
h2{
	font-size: 32px;
	line-height: 34px;
}
h3{
	font-size:24px;
	line-height: 29px;
}
h4{
	font-size:20px;
	line-height: 25px;	
}
h5{
	font-size:16px;
	line-height: 21px;
}
h6{
	font-size:14px;
	line-height: 17px;
}
h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
	font-size:22px;
	line-height: 20px;
	font-weight: 300;
}
ul, ol	{
	display: block;
	padding: 0px;
	margin: 0 0 14px 17px;
}
blockquote {
	float: left;
	width: 60%;
	margin: 10px 15px 10px 0;
	color: #aaa;
	background: url(../images/sprite.png) no-repeat scroll 0 -330px transparent;
	font: 16px/17px Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	padding-left: 40px;
}
blockquote.right {
	float: right;
	margin: 10px 0 15px  15px;
}
blockquote p {
	padding-left: 0px;
    
}
p {
	margin-bottom: 14px;
}
p:last-child {
	margin-bottom: 0;
}
em {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
input, textarea, select, #recaptcha_response_field {
	outline: medium none;
	font-family:  Helvetica, Arial, sans-serif;
	font-size:12px;
	color: #bbb;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-transition: all 0.2s ease-out 0s;   
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s; 
	background-color: #fff;
	padding: 8px;
}
input:focus, textarea:focus, select:focus {
	border: 1px solid #8DC5C5;
	color: #676767;
	box-shadow:0 0 4px rgba(82,168,236,.5);
	-moz-box-shadow:0 0 4px rgba(82,168,236,.5);
	-webkit-box-shadow:0 0 4px rgba(82,168,236,.5);
}
input.submit, input.submit:focus, input.submit:active {
	cursor:pointer;
	text-align:center;
	text-transform: uppercase;
	font-size:11px;
	font-weight: bold;
	line-height: 14px;
    color: #fff;
	text-decoration:none !important;	
	padding: 7px;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
}
input.submit:hover {
	background-color: #444;
}
a { 
	-webkit-transition:all 0.14s ease 0s; 
	-moz-transition:all 0.14s ease 0s; 
	-o-transition:all 0.14s ease 0s; 
	outline:none;
}
a:hover {
	color: #444;
}
.title, .title a { 
	text-decoration: none;
}
.title a:hover {
}
img, iframe {
	max-width:100%;
}
.alignleft {
	float:left;
	margin: 10px 20px 10px 0;
}
.alignright {
	float:right;
	margin: 10px 0 10px 20px;
}
.aligncenter {
	display: block;
	margin: 10px auto 10px auto;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.divider {
	float: left;
	width: 100%;
	height: 70px;
}
.divider-border {
	border-top: 2px solid #eee;
	float: left;
	width: 100%;
	margin: 40px 0;
}
/*--------------------------------------------------
			MAIN CONTENT
---------------------------------------------------*/
#wrapper {
	width: 100%;
}
.content-wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}	
#header-wrapper {
}	
.header {
	width: 960px;
	padding: 0;
	margin: 0;
	position:relative;
	border-bottom: 2px solid #eee;
}
#contact-fullwidth.header {
	border-bottom: none;
	margin: 0 auto;
}
#logo {
	margin-top: 35px;
}
#logo, #logo a {
	float: left;
}
#logo a {
}	
/*--------------------------------------------------
			PRIMARY MENU 
---------------------------------------------------*/
#primary-menu {
	float: right;
	margin: 0;
	padding: 0;
}
#primary-menu select {
	display:none;
}
#primary-menu select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #eee;
    cursor: pointer;
    width: 100%;
	padding: 7px;
	margin: 38px 0;
	box-shadow:0 0 0 rgba();
	-moz-box-shadow:0 0 0 rgba();
	-webkit-box-shadow:0 0 0 rgba();
	color: #676767;
}
#primary-menu ul {
	margin: 0;
	padding: 30px 0;
	list-style-type: none;
	float: right;
}
#primary-menu ul li:hover { 
	visibility: inherit; 
}
#primary-menu ul li {
	position: relative;
	display: inline;
	float: left;
	margin: 0 0 0 -1px;
	background: url(../images/sprite.png) no-repeat scroll right -153px transparent;
}
#primary-menu ul li:last-child {
    background: none;
}
#primary-menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: #676767;
	padding: 17px 15px;
	display: block;
	float: left;
}
#primary-menu ul li a:hover, #primary-menu ul li.sfHover a {
	background-color: #444;
	color: #fff;
}
#primary-menu .current {
	color: #fff !important;
}
#primary-menu ul li a.logo {
	display: none;
	margin: 0;
}
#primary-menu ul ul {
	position: absolute;
	top: -9999em;
	width: 180px;
    background: #444; 
	z-index: 9999;
}
#primary-menu ul ul li { 
	width: 100%; 
}
#primary-menu ul li:hover ul {
	left: 0;
	top: 51px;
}
#primary-menu ul li:hover li ul { 
	top: -9999em; 
}
#primary-menu ul li li:hover ul {
	left: 180px;
	top: 0;
}
#primary-menu ul ul {
	padding: 0;
	margin: 0;
}
#primary-menu ul ul li {
	margin: 0;
	background: none;
	border-bottom: 1px solid #555;
}
#primary-menu ul ul li:last-child {
	border-bottom: none;
}
#primary-menu ul ul li a {
	font-size: 11px;
	padding: 12px 15px;
}
#primary-menu ul li:hover ul li a { 
    color: #999;    
}
#primary-menu ul li:hover ul li a:hover { 
    color: #fff; 
}
.fixed { position: fixed; top: 0px; z-index:999; height: 59px;  }
#header-wrapper .fixed { }
.fixed .header { border-bottom: none; margin-left:-30px;  width: 1020px; background-color: #f8f8f8; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);}
.fixed #logo { display:none; }
.fixed .logo2 { position:absolute; left: 30px; top:12px; }
.fixed #primary-menu ul { padding: 0 30px 0 0; }
.fixed #primary-menu ul li ul { padding: 0 0 0 0; }
.fixed #primary-menu ul li { background: url(../images/sprite.png) no-repeat scroll right -149px transparent; }
.fixed #primary-menu ul li:last-child {  background: none; }
.fixed #primary-menu ul li a { color: #676767; padding: 21px 15px; }
.fixed #primary-menu ul li a:hover, .fixed #primary-menu ul li.sfHover a {	background-color: #444;	color: #fff; }
.fixed #primary-menu .current { color: #fff; }
.fixed #primary-menu ul li:hover ul { top: 59px; }
.fixed #primary-menu ul ul li { background: none; }
.fixed #primary-menu ul li:hover ul li a { padding: 12px 15px; background: #444; color:#999; }
.fixed #primary-menu ul li:hover ul li a:hover { color:#fff; }
.fixed #primary-menu ul li ul li ul {
margin-top: -59px;
}
/*--------------------------------------------------
		  SECTION TITLE
---------------------------------------------------*/
.section-title {
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 30px 0;
	border-bottom: 1px solid #eee;
	clear:both;
}
.section-title .title, .section-title .title a  {
	display: inline;
	word-spacing: 5px;
}
.section-title h1.title {
	font-size:22px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin: 0;
}
.section-title h1.title span {
	font-weight: 300;
	text-transform: none;
	color: #aaa;
}
.section-title p {
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
}
.section-title .section-nav {
}
.section-title .section-nav  ul {
	padding: 20px;
	margin: 0 auto;
}
/*--------------------------------------------------
						 FOOTER
---------------------------------------------------*/
#footer {
	color: #999;
	font-size: 11px;
	float: left;
	margin-top: 50px;
}
#footer a {
	color: #ccc;
	font-weight: bold;
}
#footer a:hover {
}
#footer h3 {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	color: #fff;
	display: block;
}
#footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#footer ul li {
	margin-bottom:15px;
}
#footer ul li .date {
	font: normal 11px/20px Helvetica,Arial,sans-serif;
    display: block;
}
#footer-content {
	width: 960px;
	margin: 0 0 0 -30px;
	padding: 0 30px;
	background-color: #444;
}
#footer-bottom, #footer-top {
	padding: 35px 0;
	overflow: hidden;
	position: relative;
}
#footer-bottom {
	background-color: #333;
	font-size: 11px;
	/*border-top: 1px dotted #777;*/
	padding: 25px 25px 18px 25px;
}
#footer-bottom p {
	margin-bottom: 0;
}
#footer-bottom a {
}
/*--------------------------------------------------
				      COLUMNS
---------------------------------------------------*/
.one, .one-half, .two-third, .one-third, .one-fourth { float:left; position:relative; margin-right:4%; }
.one { width: 100%; margin-right: 0; }
.one-half {	width: 48%; }
.two-third { width: 65.33%; }
.one-third  { width: 30.66%; }
.one-fourth { width: 22%; }
.last { margin-right: 0 !important; }
/*--------------------------------------------------
			TEAM
---------------------------------------------------*/
.team {
	background-color: #f8f8f8;
	position: relative;
}
.team-member-info {
	padding: 15px;
	overflow: hidden;
}
.team-member-info ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.team-member-info li {
	display: inline;
}
.team-member-info h2 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.team-member-info h3 {
	font-size:11px;
	text-transform: uppercase;
	line-height: 17px;
}
.team-member-info p {
	margin-top: 13px;
}
.team-member-info img {
}
div.arrow {
	background: url(../images/sprite.png) no-repeat 0 -128px transparent;
	height: 6px;
	width: 12px;
	margin: -10px 0 0 17px;
	position: relative;
}
.team-member-info h2, .team-member-info h3, .team-member-info p {
	margin-bottom: 0;
}
.team-member-info .social-personal {
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px dotted #CCCCCC;
}	
.team-member-info .social-personal li {
	display: inline;
	float: left;
}	
.team-member-info .social-personal li a {
	padding: 0 5px;
	font-size: 11px;
	color: #676767;
}	
.team-member-info .social-personal li a:hover {
	color:#fff;
}
.team-member-info .social-personal li span {
	font-size: 10px;
}


/*--------------------------------------------------
			PHOTOSTREAM
---------------------------------------------------*/
.photostream-wrapper, #footer .photostream-wrapper {
	float: left;
}
.photostream ul, #footer .photostream ul, .widget .photostream ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: -10px;
}
.photostream ul li, #footer .photostream ul li, .widget .photostream ul li {
	width: auto;
	float: left;
	margin: 0 0 10px 10px;
}
.photostream a, #footer .photostream a, .photostream img, #footer .photostream img {
	height: 40px;
	width: 40px;
}
.photostream a, #footer .photostream a {
	border: 1px solid #eee;
	padding: 4px;
	display: block;
}
#footer .photostream a {
	border: 1px solid #555;
}
#footer .photostream a {
}
.photostream a:hover, #footer .photostream a:hover {
}
.photostream img, #footer .photostream img {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.photostream a:hover img, #footer .photostream a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
/*--------------------------------------------------
		   SERVICES GRAPH
---------------------------------------------------*/
.skills-graph {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.skills-graph li, .skills-graph li span {
	-moz-border-radius: 300px 300px 300px 300px; 
	-webkit-border-radius: 300px 300px 300px 300px;
	border-radius: 300px 300px 300px 300px;
}
.skills-graph li {
	margin-bottom: 10px;
	font-size: 11px;
	text-transform: uppercase;
}
.skills-graph li p {
	margin-bottom: 0;
}
.skills-graph li strong {
	margin-left: 5px;
	color: #444;
}
.skills-graph li span {
	height: 13px;
}
/*--------------------------------------------------
		    GRID VIEW
---------------------------------------------------*/
.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
.grid li {
    float: left;
	border-bottom: 1px dashed #ddd;
	border-right: 1px dashed #ddd;
}
.grid.row3 li {
    width: 319px;
}
.grid.row4 li {
    width: 239px;
}
.grid.row5 li {
    width: 191px;
}
.grid.row6 li {
    width: 159px;
}
.grid li.last {
	border-right: none;
}
.grid li.last-row {
	border-bottom: none;
}
.grid img {
	display: block;
	margin: 0 auto;
}
.services div {
	padding: 15px 10px;
	text-align: center;
}
.services div a {
	color: #676767;
}
.services div:hover, .services div:hover a {
	color: #FFFFFF;
}
.services div:hover a {
	background-color:#444; 
}
.services img, .services h2 {
	display: block;
	margin-bottom: 20px;
}
.services h2 {
	font-size:15px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.clients img {
	-moz-transition:all 0.14s ease 0s; 
	-webkit-transition:all 0.14s ease 0s;   
	-o-transition:all 0.14s ease 0s; 
	opacity:0.5;
	filter:alpha(opacity=50);
}
.clients img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
/*--------------------------------------------------
		    BUTTONS
---------------------------------------------------*/
.button {
	cursor:pointer;
	text-align:center;
	display:inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.button.right {
	float:right;
}
.button, .button:hover {
	font-weight: bold;
	color: #FFFFFF;
	text-transform:uppercase;
}
.button:hover {
	background-color: #444;
}
.small {
	padding:0 6px;	
	font-size: 11px;
	line-height: 16px;
}
.medium {
	font-size:11px;
	padding: 7px 14px !important;
}
.large {
	padding: 11px 19px 11px 19px !important;
	font-size: 17px;
}
.rounded {
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.grey { background-color:#444; }
.yellow { background-color:#FEEB43; color: #707070; }
.orange { background-color:#f96e5b; }
.green { background-color:#78d18b; }
.tealgreen { background-color:#3ea9a1; }
.blue { background-color: #7CC0CB; }
.navyblue { background-color: #657383; }
.purple { background-color:#9a86a2; }
.magenta {background-color:#C25283; }
.pink { background-color:#F9A7B0; }
.red { background-color:#dc4f49; }
.cream { background-color:#C9C299; }
/*--------------------------------------------------
			HIGHLIGHTS
---------------------------------------------------*/
.highlight1 {
	color: #FFFFFF;
	padding: 0 2px;
}
.highlight2 {
	background-color: #444;
	color: #FFFFFF;
	padding: 0 2px;
}
.highlight3 {
	border-bottom: 1px dotted;
}
/*--------------------------------------------------
			DROPCAPS
---------------------------------------------------*/
.dropcap1 {
	float: left;
	font-size: 53px;
	line-height: 50px;
	color: #444;
	margin: 0 8px 0 0;
	font-weight: bold;
}
.dropcap2 {
    background-color: #444;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 32px;
    margin: 6px 8px 0 0;
    padding: 5px 0;
    text-align: center;
    width: 44px;
}
.dropcap3 {
    background-color: #444;
    border-radius: 55px 55px 55px 55px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 44px;
    margin: 6px 8px 0 0;
    text-align: center;
    width: 44px;
}
/*--------------------------------------------------
			DIFFERENT UL STYLES
---------------------------------------------------*/
.check-list ul, .arrow-list ul, .star-list ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.check-list ul li, .arrow-list ul li, .star-list ul li {
	margin-bottom: 5px;
	padding-left: 20px;
}
.arrow-list ul li {
	background: url(../images/bullet-ul.png) no-repeat scroll -82px 5px transparent;
}
.check-list ul li {
	background: url(../images/bullet-ul.png) no-repeat scroll -42px -45px transparent;
}
.star-list ul li {
	background: url(../images/bullet-ul.png) no-repeat scroll 0px -82px transparent;
}
.colored-counter-list ul {
	counter-reset:li;
	margin-left:0; 
	padding-left:0; 
}
.colored-counter-list ul > li {
	position:relative; 
	list-style:none;
	padding-left: 35px;
	margin-bottom: 13px;
}
.colored-counter-list ul > li:before {
	content:counter(li); 
	counter-increment:li; 
	position:absolute;
	top:0;
	left:0;
	width:25px;
	margin-right:8px;
	padding: 3px 0;
	text-align:center;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-color: #444;
	color: #fff;
}
/*--------------------------------------------------
			TOGGLE
---------------------------------------------------*/
.toggle-wrap {
	float: left;
	width: 100%;
	margin-bottom: 6px;
}
.trigger {
}
.trigger a {
	display: block;
	padding: 10px;
	padding-left: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #676767;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-o-transition-duration: 0s;	
	background: url(../images/bullet-toggle.png) no-repeat right 15px #f8f8f8;
}
.trigger.active a { 
	background: url(../images/bullet-toggle.png) no-repeat right -20px #f8f8f8;
}
.toggle-container {
	overflow: hidden;
	float: left;
	padding: 15px;
}
/*--------------------------------------------------
	     ACCORDION
---------------------------------------------------*/
.trigger-button {
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);	
	background: url(../images/bullet-toggle.png) no-repeat right 15px #f8f8f8;
	cursor:pointer;
}
.trigger-button span {
	padding-left: 15px;
}
.trigger-button.active { 
	background: url(../images/bullet-toggle.png) no-repeat right -20px #f8f8f8;
}
.accordion {
	float: left;
	padding: 8px 15px 22px 15px;
}
/*--------------------------------------------------
				PORTFOLIO
---------------------------------------------------*/
.portfolio-grid ul li a.hide {
	display: none;
}
.portfolio-grid {
	width: 965px;
	margin: 0 0 0 -5px;
	padding: 0;
	float: left;
}
.portfolio-grid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolio-grid ul li {
	float: left;
	margin: 0 0 5px 5px;
	padding: 0;
	position: relative;
	background-color: #f8f8f8;
}
.isotope-item {
    z-index: 1;
}
.isotope-hidden {
    z-index: 0;
}
.portfolio-grid ul li.col2 {
	width: 477px;
}
.portfolio-grid ul li.col3 {
	width: 316px;
}
.portfolio-grid ul li.col4 {
	width: 236px;
}
.portfolio-grid ul li img {
	float: left;
}	
.item-info {
	padding: 15px;
	float: left;
}
.item-info h3, .item-info-overlay h3 {
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin-bottom: 0;
}
.item-info h3.title a {
	color: #676767;
}
.item-info-overlay h3.title a {
	color: #fff;
}
.item-info-overlay h3.title a:hover {
	color: #444;
}
.item-info h4, .item-info-overlay h4 {
	font-size:11px;
	line-height: 14px;
	color: #444;
	text-transform: uppercase;
	margin-bottom: 0;
}
/*--------------------------------------------------
		    PORTFOLIO THUMBNAIL HOVER
---------------------------------------------------*/
.item-info-overlay {
	color: #fff;
	font-size:11px;
}
.item-info-overlay {
	position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	display: none;
    z-index: 120;
}
.item-info-overlay div {
	padding: 0 9% 9% 9%;
}
.item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
	font-size: 17px;
}	
.item-info-overlay p {
	margin-top: 10px;
	padding-top: 10px;
}	
.item-info-overlay a.preview, .item-info-overlay a.view {
	position: absolute;
	bottom: 0px;
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-o-transition-duration: 0s; 
	text-indent: -9999px;
	height: 37px;
	width: 37px;
    z-index: 110;
}
.item-info-overlay a.view {
	background: url(../images/sprite.png) no-repeat scroll 11px 13px #333;
	right: 0px;
}
.item-info-overlay a.view:hover {
	background: url(../images/sprite.png) no-repeat scroll 11px -18px #333;
}
.item-info-overlay a.preview {
	background: url(../images/sprite.png) no-repeat scroll 12px -50px #333;
	right: 38px;
}
.item-info-overlay a.preview:hover {
	background: url(../images/sprite.png) no-repeat scroll 12px -83px #333;
}
/*--------------------------------------------------
		   SHAPED STYLE ITEM
---------------------------------------------------*/
.portfolio-grid ul.shaped li {
	margin: 0 0 15px 5px;
	background-color: transparent;
}
.shaped .item-container {
	display: block;
	position: relative;
}
.shaped .item-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
.shaped .item-container img {
    z-index:9;
}
.shaped .item-info-overlay {
	text-align: center;
}
.shaped .item-info-overlay a.preview, .shaped .item-info-overlay a.view {
	bottom: 30px;
	height: 30px;
	width:30px;
}
.shaped .item-info-overlay a.view {
	background: url(../images/sprite.png) no-repeat scroll 7px 10px #333;
	right: 88px;
}
.shaped .item-info-overlay a.view:hover {
	background: url(../images/sprite.png) no-repeat scroll 7px -21px #333;
}
.shaped .item-info-overlay a.preview {
	background: url(../images/sprite.png) no-repeat scroll 9px -53px #333;
	right: 119px;
}
.shaped .item-info-overlay a.preview:hover {
	background: url(../images/sprite.png) no-repeat scroll 9px -86px #333;
}
/*--------------------------------------------------
		   HEXAGON STYLE
---------------------------------------------------*/
.hexagon .item-container {
	width: 236px;
	height: 257px;
	overflow:hidden;
}
.hexagon .item-mask {
    background: url(../images/mask-hexagon.png) no-repeat 0 0 transparent;
    width: 236px;
	height: 257px;
}
.hexagon .item-container img {
	height: 257px;
}
.hexagon .item-info-overlay {
    background: url(../images/mask-hexagon.png) no-repeat 0 0;
}
.hexagon .item-info-overlay h3 {
	padding: 30% 0% 2% 0%;
}
/*--------------------------------------------------
		   CIRCLE STYLE
---------------------------------------------------*/
.circle .item-container {
	width: 236px;
	height: 232px;
	overflow:hidden;
}
.circle .item-mask {
    background: url(../images/mask-circle.png) no-repeat 0 0 transparent;
    width: 236px;
	height: 232px;
}
.circle .item-container img {
	height: 232px;
}
.circle .item-info-overlay {
	background: url(../images/mask-circle.png) no-repeat 0 0;
}
.circle .item-info-overlay div {
	padding: 9%;
}
.circle .item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
}
/*--------------------------------------------------
		   TRIANGLE STYLE
---------------------------------------------------*/
.triangle .item-container {
	width: 316px;
	height: 272px;
	overflow:hidden;
}
.triangle .item-mask {
    background: url(../images/mask-triangle.png) no-repeat 0 0 transparent;
	width: 316px;
	height: 272px;
}
.triangle .item-container img {
	height: 272px;
}
.triangle .item-info-overlay {
	background: url(../images/mask-triangle.png) no-repeat 0 0;
}
.triangle .item-info-overlay div {
	padding: 19%;
}
.triangle .item-info-overlay h3 {
	padding: 18% 14% 2% 14%;
}	
.item-info-overlay p {
	margin-top: 5px;
	padding-top: 5px;
}
.shaped.triangle .item-info-overlay a.preview, .shaped.triangle .item-info-overlay a.view {
	bottom: 10px;
}
.shaped.triangle .item-info-overlay a.preview {
	right: 54px;
}
.shaped.triangle .item-info-overlay a.view {
	right: 23px;
}
/*--------------------------------------------------
		    PORTFOLIO FILTERABLE NAVIGATION
---------------------------------------------------*/
.filterable {
	width: 100%; 
	float: left;
	padding-bottom: 25px;
}
.filterable  ul {
	margin: 0 auto;
}
.filterable li {
	background: none;
	display: inline;
	float: left;
}
.filterable li:last-child {
    background: none;
}
.filterable li:last-child a {
	margin: 0 0 0 7px;
}
.filterable li a {
	font-size: 11px;
	color: #aaa;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin:0 5px;
	padding:0 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.filterable li a:hover {
	color: #444;
}
.filterable li.current a {
	color:#444;
}
.filterable li span {
	font-size: 11px;
	color: #ccc;
}
/*--------------------------------------------------
			ITEM NAVIGATION
---------------------------------------------------*/
ul.item-nav {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.item-nav li {
	float: left;
	margin-left: 1px;
	background: #444;
	-webkit-transition:all 0.14s ease 0s; 
	-moz-transition:all 0.14s ease 0s; 
	-o-transition:all 0.14s ease 0s; 
}
ul.item-nav li a {
	background: url(../images/sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
	-webkit-transition-duration: 0s; 
	-moz-transition-duration: 0s; 
	-o-transition-duration: 0s; 
}
ul.item-nav li:hover {
}
ul.item-nav li.prev a {
	background-position: 17px -212px;
}
ul.item-nav li.next a {
    background-position: 17px -282px;
}
ul.item-nav li.all a {
    background-position: 12px -247px;
}
/*--------------------------------------------------
			CONTACT MODAL WINDOW
---------------------------------------------------*/
#wrapper.fullwidth {
	margin-bottom: 40px;
}
.google-map.fullwidth {
	height: 700px;
	width: 1020px;
	z-index:9;
	top: 0px;
	margin: -4px 0 0 -30px;
}
#contact-mask {
	display: none;
	background: #fff; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; 
	height: 100%;
	opacity: 0.9;
	z-index: 999;
}
#contact-intro {
	width: 960px;
	margin: 0 auto;
	padding: 45px 0 0 0;
	overflow: hidden;
}
#contact-intro h1.title {
	font-size:22px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
#contact-intro p {
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
}
.contact-button {
	margin-top: 45px;
}
.contact-popup {
	display:none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 99999;
	width: 960px;
}
.contact-popup .form {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.contact-popup .close {
	position: absolute;
	top: 40px;
	right: 0px;
}
/*--------------------------------------------------
			CONTACT
---------------------------------------------------*/
.google-map {
	height: 300px;
	width: 100%;
}
.form, .contact-success {
	padding: 5%;
	background-color: #f8f8f8;
	overflow: hidden;
}
.contact-success {
	padding: 20px;
	color: #fff;
	font-size:11px;
}
.form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.form  li {
	position: relative;
}
.form input, .form textarea, #recaptcha_response_field, .form select {
	width: 85%;
	margin-bottom: 12px;
	position: relative;
}
.form select {
	width: auto;
}
.form textarea {
	width: 96%;
	height: 150px;
}
.form input.submit {
	width: 110px;
}
.form  li p, .form input.submit {
	margin-bottom: 0;
}
.form em {
	color:#aaaaaa;
	display: inline;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}
.form .contact-error {
    color: #f96e5b;
    font-size: 11px;
	font-weight: bold;
    position: absolute;
    top: 0;
    right: 60px;
}
.contact-info {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.extra-padding{
	padding-top:12px !important;
}

/*--------------------------------------------------
				     PANEL
---------------------------------------------------*/
#panel {
	position: fixed;
	top: 70px;
	z-index: 999;
}
#panel-admin {
	float: left;
	width: 170px;
	padding: 20px;
	background: #333;
	color: #999999;
}
.open{
	background: url(../images/style-panel-button.png) no-repeat 0 0 transparent;
	display: block;
	height: 190px;
	width: 33px;
	float: right;
}
#panel-admin select, #panel-admin select:focus {
	width: 100%;
	padding: 3px;
	margin: 10px 0 15px 0;	
	font-size: 12px;
	border: none;
	background-color: #fff;
}

.wp-caption{}
.wp-caption-text{}
.sticky{}
.gallery-caption{}
.bypostauthor{}

